.button-like {
  background-image: url(../../images/heart_disabled.svg);
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 22px;
  height: 19px;
  padding: 0;
  margin-right: 20px;
  z-index: 2;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  box-sizing: border-box;
}

.button-like:hover {
  opacity: .5;
}
