.button_type_like {
  background-image: url(../../../images/heart_disabled.svg);
  width: 22px;
  height: 19px;
  margin-right: 20px;
  align-self: center;
  justify-self: center;
}

.button_type_like:hover {
  opacity: 0.5;
}
