.popup__input {
  width: 358px;
  box-sizing: border-box;
  padding: 0 0 9px 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

@media screen and (max-width: 530px) {
  .popup__input {
    width: 238px;
  }
}
